@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body{
    height: 100vh;
    background-color: #3d3d3d;
}

nav.menuLateral{
    width: 75px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #005d9b;
    position: fixed;
    top: 0;
    left: 0;
    user-select: none;
    transition: .4s;
    overflow: hidden;
}

nav.menuLateral:hover{
    width: 300px;
    transition: .4s;
}

.btnAbrir{
    width: 100%;
    padding-left: 10px;
}

.btnAbrir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type:none;
}

ul li.itemMenu :hover{
    background-color: #005d9b;
    transition: .4s;
}

ul li.itemMenu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 35px;
}

ul li.itemMenu a .txtLink{
    margin-left: 40px;

}

ul li.itemMenu a .icon i{
    font-size: 30px;
    margin-left: 25%;
}


