@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

body{
    height: 100vh;
    background-color: #3d3d3d;
}

header.inicio{
    background-color: #202020;
    border-bottom: 2px solid #005d9b;
}

header div.titulo{
    margin-left: 75px;
    display: flex;
    align-items: center;
    background-color: #202020;
    padding: 10px;
    user-select: none;
    
}

h1{
    color:#fff;
    margin-left: .3%;
    font-weight:250;
}

h1 i{
    color: #0268ac;
    font-weight: normal;
}

.container {
    padding-top: 50px;
    position: relative;
    width: fit-content;     
    margin: 0 auto;         
    user-select: none;
}

.container img {
    display: block;
    width: 100%;            
    border: 2px solid #005d9b
}

.anuncioCarros {
    position: absolute;
    top: 80%;               
    left: 50%;              
    transform: translate(-50%, -50%);
    color: #f6f6f6;           
    font-size: 2rem;       
    font-weight: bold;
    text-shadow: 2px 2px 5px black; 
    white-space: nowrap;
}
