body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

div.container {
    max-width: 1000px;
    width: 90%;
    margin: 0;
    padding: 25px;
    background-color: #202020;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

h1 {
    color: #f6f6f6;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

a {
    color: #f6f6f6;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #f6f6f6;
    
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #141414;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #333;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #005d9b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1b89ff;
}

.msg-success {
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
}

.msg-error {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
}

.nav {
    text-align: center;
}

.nav a {
    display: block;
    padding: 14px;
    margin-bottom: 12px;
    background-color: #e9e9e9;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.nav a:hover {
    background-color: #ddd;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--cor-sombra);
}

th,td, th {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    border:1px solid #ddd;
}

th, td{
    padding: 10px;
    vertical-align: middle;
}


tr:nth-child(even) {
    background-color: #ffffff;
}

button {
    padding: 6px 12px;
     border: none;
    border-radius: 5px;
    background-color: #a0a0a0;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: var(--cor-botao-hover);
}