:root{
    --body-bg-color: #3d3d3d;
    --body-color: #fafafa;
    --color-alugacars: #005d9b;
    --color-abas: #202020;
    --color-indicador: #000;
}

.light-mode:root{
    --body-bg-color: #b4b4b4;
    --body-color: #181818;
    --color-alugacars: #005d9b;
    --color-abas: #cacaca;
    --bg-text-box:#dfdfdf;
    --color-indicador: #f0f0f0;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    color: var(--body-color);
    margin: 0;
    padding: 0px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.trilho{
    margin-top: 12px;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    background-color: var(--body-bg-color);
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.trilho .indicador{
    width: 40px;
    height: 40px;
    background-color: var(--color-indicador);
    border-radius: 50%;
    transform: scale(.9);
    user-select: none;
    position: absolute;
    left: 0;
    transition: 0.5s;
}


.trilho.light-mode .indicador{
    left: 40px;
    background-color: var(--color-indicador);
    transition: 0.5s;
}


div.container {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 25px;
    background-color: var(--color-abas);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
    user-select: none;
}

h1 {
    color: var(--body-color);
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
}

a {
    color: var(--body-color);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--body-color);
    user-select: none;
    
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #141414;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--bg-text-box);
    color: var(--body-color);
}

select{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #141414;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--bg-text-box);
    color: #f6f6f6;
}

select option{
    background-color: var(--body-bg-color);
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: var(--color-alugacars);
    color: var(--body-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1b89ff;
}

.msg-success {
    text-align: center;
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
}

.msg-error {
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 12px;
    border-radius: 4px;
    margin-top: 15px;
}

.nav {
    text-align: center;
}

.nav a {
    display: block;
    padding: 14px;
    margin-bottom: 12px;
    background-color: #e9e9e9;
    border-radius: 5px;
    color: var(--bg-text-box);
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.nav a:hover {
    background-color: #ddd;
    text-decoration: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--cor-sombra);
}

th,td, th {
    padding: 10px;
    border-bottom: 1px solid var(--color-alugacars);
    font-size: 15px;
    border:1px solid var(--color-alugacars);
}

th, td{
    padding: 10px;
    vertical-align: middle;
}


tr:nth-child(even) {
    background-color: var(--bg-text-box);
}

button {
    padding: 6px 12px;
     border: none;
    border-radius: 5px;
    background-color: #a0a0a0;
    color: var(--body-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    background-color: var(--cor-botao-hover);
}


footer.main-footer{
    background-color: var(--color-abas);
    padding: 25px 20px;
    text-align: center;
    border-top: 2px solid #1d1d1d;
    color: var(--body-color);
    margin-top: auto;
    width: 100%;
    user-select: none;
}

.social-links a{
    color: var(--color-alugacars);
    margin: 0 10px;
    text-decoration: none;
}

.social-links a:hover{
    text-decoration: underline;
}

.btnsPdf{
    display: flex;
    gap: 20px;
    
}

.btnPdf{
    background-color: var(--color-alugacars);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btnPdf:hover{
    text-decoration: none;
    background-color:#1b89ff ;
}

.btnsEmprestimo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    vertical-align: middle;
    gap: 5px;
    
}

.btnEmprestimo{
    background-color: var(--color-alugacars);
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.btnEmprestimo:hover{
    text-decoration: none;
    background-color: #1b89ff;
}

.infoAluguel{
    display: flex;
    gap: 10px;
    
}

.message {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-weight: bold;
}

/* Quando der certo (Verde) /
.message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/ Quando der erro (Vermelho) */
.message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}